body {
  height: 100vh;
  width: 500px;
  margin: auto;
}

#mylist{
  height: 100vh;
  background-color: lightgray;
  padding: 16px;
}

.app-todo{
  margin-bottom: 16px;
}

.each-task{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

:checked + label {
  text-decoration: line-through;
  background-color: red;
}
