body {
  height: 100vh;
  width: 500px;
  margin: auto;
}

#contador {
  height: 100vh;
  background-color: lightgray;
  padding: 16px;
  text-align: center;
}

.app-contador {
  display: flex;
  justify-content: center;
  gap: 8px;
}
