/* Animação dos helicopteros */
.anima1 {
  background-image: url(../imgs/helicoptero.png);
  animation: play 0.5s steps(2) infinite;
}

.anima2 {
  background-image: url(../imgs/inimigo1.png);
  animation: play 0.5s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

/* Animação do amigo */

.anima3 {
  background-image: url(../imgs/amigo.png);
  animation: play2 0.9s steps(12) infinite;
}

@keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}
